// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@dark-gray: #282a2e;

@stranger-syntax-black: #1d2930;
@stranger-syntax-brown: #ce9571;
@stranger-syntax-green: #44b7bb;
@stranger-syntax-red: #f43938;
@stranger-syntax-cyan: #64b1bf;
@stranger-syntax-purple: #b294bb;
@stranger-syntax-lighter: #acc7d6;
@stranger-syntax-light-orange: #f0c674;
@stranger-syntax-gray: #8d96a5;
